<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

<div>
    <input type="checkbox" id="checkbox">
    <label id="btn" class="btn" for="checkbox"><i class="fa fa-bars"></i> <span>Menu</span></label>

    <div class="sidebar">
      <ul>
        <a href="home">
          <li><i class="fa fa-book"></i>Home/Adress Book</li>
        </a>
        <a href="#">
          <li><i class="fa fa-lightbulb-o"></i>Gerenciar Popup</li>
        </a>
        <a href="#">
          <li><i class="fa fa-line-chart"></i>Edição Rápida</li>
        </a>
        <a href="#">
          <li><i class="fa fa-television"></i>Gerenciar Ptax</li>
        </a>
        <a href="#">
          <li><i class="fa fa-send"></i>Tabela Preço</li>
        </a>
        <a href="#">
          <li><i class="fa fa-wpforms"></i>Gerenciar controles</li>
        </a>
        <a href="#">
          <li><i class="fa fa-paint-brush"></i>Acessos</li>
        </a>
        <a href="#">
          <li><i class="fa fa-file-text-o"></i>Opções de interface</li>
        </a>
        <a href="#">
          <li><i class="fa fa-globe"></i>Sair</li>
        </a>
      </ul>
    </div>
  </div>